<div class="work__item">
  <div class="work__item-wrapper">
    <picture>
      <source srcset="./img/work/work-b7.avif"
              type="image/avif">
      <source srcset="./img/work/work-b7.webp"
              type=" image
              /webp">
      <img loading="lazy"
           src="./img/work/work-b7.jpg"
           class="work__item-wrapper-img"
           alt="Work">
    </picture>
  </div>
  <h3 class="work__item-name">Volkswagen Passat b7 </h3>
  <div class="work__item-inner">
    <div class="work__item-descr">
      <p class="work__item-descr-text">Пробег: <span>167 450 км</span></p>
      <p class="work__item-descr-text">Двигатель: <span>1.8</span></p>
      <p class="work__item-descr-text">Крашено: <span>капот и правое переднее крыло</span></p>
      <p class="work__item-descr-text">Рекомендации: <span>провести полное ТО после покупки.</span></p>
    </div>
    <div class="work__item-info">
      <p class="work__item-info-text search">Поиск занял: <span>3 дня</span></p>
      <p class="work__item-info-text money">Сумма торга: <span>200 000 ₸</span></p>
    </div>
  </div>
</div>
