<div class="work__item">
  <div class="work__item-wrapper">
    <picture>
      <source srcset="./img/work/work-xtrail.avif"
              type="image/avif">
      <source srcset="./img/work/work-xtrail.webp"
              type=" image/webp">
      <img loading="lazy"
           src="./img/work/work-xtrail.jpg"
           class="work__item-wrapper-img"
           alt="Work">
    </picture>
  </div>
  <h3 class="work__item-name">Nissan X-Trail</h3>
  <div class="work__item-inner">
    <div class="work__item-descr">
      <p class="work__item-descr-text">Пробег: <span>78 300 км</span></p>
      <p class="work__item-descr-text">Двигатель: <span>2.0</span></p>
      <p class="work__item-descr-text">Крашено: <span>Вторичный окрас капота без шпаклевки</span></p>
      <p class="work__item-descr-text">Рекомендации: <span>провести полное ТО после покупки.</span></p>
    </div>
    <div class="work__item-info">
      <p class="work__item-info-text search">Поиск занял: <span>6 дней</span></p>
      <p class="work__item-info-text money">Сумма торга: <span>180 000 ₸</span></p>
    </div>
  </div>
</div>
