<div class="work__item">
  <div class="work__item-wrapper">
    <picture>
      <source srcset="./img/work/work-sportage.avif"
              type="image/avif">
      <source srcset="./img/work/work-sportage.webp"
              type=" image/webp">
      <img loading="lazy"
           src="./img/work/work-sportage.jpg"
           class="work__item-wrapper-img"
           alt="Work">
    </picture>
  </div>
  <h3 class="work__item-name">KIA Sportage 3G</h3>
  <div class="work__item-inner">
    <div class="work__item-descr">
      <p class="work__item-descr-text">Пробег: <span>186 150 км</span></p>
      <p class="work__item-descr-text">Двигатель: <span>2.0</span></p>
      <p class="work__item-descr-text">Крашено: <span>Капот, правое крыло, правая дверь</span></p>
      <p class="work__item-descr-text">Рекомендации: <span>Провести ТО, заменить рулевые наконечники.</span></p>
    </div>
    <div class="work__item-info">
      <p class="work__item-info-text search">Поиск занял: <span>3 дня</span></p>
      <p class="work__item-info-text money">Сумма торга: <span>250 000 ₸</span></p>
    </div>
  </div>
</div>
