<div class="work__item">
  <div class="work__item-wrapper">
    <picture>
      <source srcset="./img/work/work-honda.avif"
              type="image/avif">
      <source srcset="./img/work/work-honda.webp" type=" image/webp">
      <img loading="lazy"
           src="./img/work/work-honda.jpg"
           class="work__item-wrapper-img"
           alt="Work">
    </picture>
  </div>
  <h3 class="work__item-name">Honda Accord (8G)</h3>
  <div class="work__item-inner">
    <div class="work__item-descr">
      <p class="work__item-descr-text">Пробег: <span>237 350 км</span></p>
      <p class="work__item-descr-text">Двигатель: <span>2.4</span></p>
      <p class="work__item-descr-text">Крашено: <span>Вторичный окрас всего кузова</span></p>
      <p class="work__item-descr-text">Рекомендации:
        <span>провести полное ТО после покупки. Заменить ГРМ с помпой</span></p>
    </div>
    <div class="work__item-info">
      <p class="work__item-info-text search">Поиск занял: <span>7 дней</span></p>
      <p class="work__item-info-text money">Сумма торга: <span>250 000 ₸</span></p>
    </div>
  </div>
</div>
