<div class="work__item">
  <div class="work__item-wrapper">
    <picture>
      <source srcset="./img/work/work-camry-50.avif"
              type="image/avif">
      <source srcset="./img/work/work-camry-50.webp"
              type=" image/webp">
      <img loading="lazy"
           src="./img/work/work-camry-50.jpg"
           class="work__item-wrapper-img"
           alt="Work">
    </picture>
  </div>
  <h3 class="work__item-name">Toyota Camry 50</h3>
  <div class="work__item-inner">
    <div class="work__item-descr">
      <p class="work__item-descr-text">Пробег: <span>173 500 км</span></p>
      <p class="work__item-descr-text">Двигатель: <span>2.5</span></p>
      <p class="work__item-descr-text">Крашено: <span>задний багажник, заднее правое крыло</span></p>
      <p class="work__item-descr-text">Рекомендации: <span>провести полное ТО после покупки.</span></p>
    </div>
    <div class="work__item-info">
      <p class="work__item-info-text search">Поиск занял: <span>2 дня</span></p>
      <p class="work__item-info-text money">Сумма торга: <span>без торга</span></p>
    </div>
  </div>
</div>
