<section class="call scroll" id="call">
  <div class="call__container">
    <div class="call__wrapper">
      <div class="call__content">
        <div class="call__text">
          <h2 class="call__text-title">Оставить заявку</h2>
          <p class="call__text-descr">Оставьте заявку и мы свяжемся с вами в ближайшее время.<br> Вы сделали правильный
            выбор, доверив нам заботу о вашем будущем автомобиле. <br>Начнем вместе вашу увлекательную автомобильную
            историю!</p>
        </div>
        <form action="#" class="call__form">
          <input type="text" name="name" id="name" placeholder="Как вас зовут?" class="call__form-name">
          <input type="tel" name="tel" id="tel" placeholder="+7-000-00-00-00" class="call__form-phone">
          <input type="number" name="price" id="price" placeholder="Укажите ваш бюджет" class="call__form-price">
          <button type="submit" class="call__form-btn">Оставить заявку</button>
        </form>
      </div>
      <img src="./img/call-bg.webp" alt="call-bg" class="call__img">
    </div>
  </div>
</section>
