<section class="check" id="check">
  <div class="check__container">
    <h2 class="check__title title">Что мы проверяем?</h2>
    <div class="check__wrapper">
      <div class="check__item">
        <h3 class="check__item-title">Юридическая проверка
          по базам на:</h3>
        <p class="check__item-descr">ограничение, угон
          кредит, такси, ДТП, владельцы</p>
        <img
          src="./img/g63.png"
          class="check__item-img"
          alt="Юридическая проверка">
      </div>
      <div class="check__item">
        <h3 class="check__item-title">Двигатель, коробка,
          рулевое управление</h3>
        <p class="check__item-descr">Проверка всех узлов
          и агрегатов</p>
        <img
          src="./img/range-rover.png"
          class="check__item-img"
          alt="Двигатель, коробка, рулевое управление">
      </div>
      <div class="check__item">
        <h3 class="check__item-title">Эстетика и уход</h3>
        <p class="check__item-descr">Проверка салона</p>
        <img
          src="./img/peugeot.png"
          class="check__item-img"
          alt="Эстетика и уход">
      </div>
      <div class="check__item">
        <h3 class="check__item-title">Проверка ходовой</h3>
        <p class="check__item-descr">Полная диагностика
          ходовой части</p>
        <img
          src="./img/chassi.png"
          class="check__item-img"
          alt="Проверка ходовой">
      </div>
      <div class="check__item">
        <h3 class="check__item-title">Двигатель</h3>
        <p class="check__item-descr">Проверка на ошибки,
          запотевание, потёки,
          корректность работы</p>
        <img
          src="./img/engine.png"
          class="check__item-img engine"
          alt="Двигатель">
      </div>
      <div class="check__item">
        <h3 class="check__item-title">Пробег авто</h3>
        <p class="check__item-descr">Проверка на оригинальность
          пробега</p>
        <img
          src="./img/tesla.png"
          class="check__item-img"
          alt="Пробег авто">
      </div>
    </div>
  </div>
</section>
