<section class="faq scroll">
  <div class="faq__container">
    <div class="faq__wrapper">
      <h2 class="faq__title">Часто задаваемые вопросы по подбору</h2>
      <div class="faq__items">
        <div class="faq__items-left">
          <div class="accordion">
            <div class="accordion__item">
              <div class="accordion__header">От чего зависит стоимость услуги «Подбор автомобиля «под ключ»</div>
              <div class="accordion__body">
                <p>В нашей компании стоимость услуги «Подбор автомобиля под ключ» фиксирована и зависит от бюджета и
                  марки автомобиля (например, комплекс проверок Tesla значительно шире и поэтому его стоимость
                  варьируется). Точную цену Вы можете узнать у нашего админа. На начальном этапе поиска автомобиля
                  клиент заполняет анкету, в которой указывает примерный бюджет на поиск и приобретение машины. Есть
                  определенный шаг стоимости. И эти данные Вы также можете узнать у нашего админа. Вам достаточно нам
                  позвонить по телефону или написать.</p>
              </div>
            </div>
            <div class="accordion__item">
              <div class="accordion__header">Какие сроки выполнения услуги «Подбор автомобиля под ключ»?</div>
              <div class="accordion__body">
                <p>Средний срок для нахождения подходящего варианта автомобиля составляет 1-2 недели. Однако, в
                  большинстве случаев, мы успешно находим подходящий автомобиль всего за 3-4 дня.
                  Более точный термин, к сожалению, достаточно тяжело определить. Рынок не стабилен. Есть определенная
                  сезонность, общая экономическая ситуация и другие факторы. Не всегда спрос отвечает предложению. Часто
                  предложения не адекватны. Наша задача – найти лучший вариант для Вас. Это может занять некоторое
                  время.
                  Минимальный срок выполнения услуги «Подбор автомобиля «под ключ» – 1 день, максимальный – 8 месяцев.
                  Причем стоимость услуги «Подбор автомобиля «под ключ» ни в коем варианте никак не изменялась в
                  процессе. Цена за предоставление услуги «Подбор автомобиля под ключ» в нашей компании —
                  фиксированная.</p>
              </div>
            </div>
            <div class="accordion__item">
              <div class="accordion__header">Могу ли я участвовать в процессе выбора автомобиля?</div>
              <div class="accordion__body">
                <p>Да, конечно.
                  Для нас это будет даже лучше!
                  Если наш клиент принимает полноценное участие в процессе и уделяет ему максимум внимания — это залог
                  существенного ускорения завершения поиска и приобретения автомобиля, поскольку принятие решения
                  осуществляется сразу же после осмотра или проверки на СТО и не возникает пауза в анализе всей
                  подробной информации, которую дает эксперт после осмотра транспортного средства без присутствия
                  покупателя или проверки авто на станции технического обслуживания.</p>
              </div>
            </div>
            <div class="accordion__item">
              <div class="accordion__header">Как происходит проверка автомобиля при автоподборе?</div>
              <div class="accordion__body">
                <p>Что бы максимально исключить все риски покупки бу авто, мы проводим комплексную проверку каждого
                  рассматриваемого варианта. Начинается все с проверки самого продавца и прозвона конкретно взятого
                  варианта. Большинство автомобилей отсеиваются на этапе первого звонка. Дальше следует выезд эксперта
                  для проверки отобраннвых вариантов. В случае позитивного исхода осмотра экспертом, мы дополнительно
                  проверяем автомобиль на одном из наших СТО. Так же, машина проверяется по базам официальных диллеров и
                  проходит юридическую проверку.</p>
              </div>
            </div>
            <div class="accordion__item">
              <div class="accordion__header">Я не умею торговаться. Сделаете ли это за меня?</div>
              <div class="accordion__body">
                <p>Разумеется, мы всегда берём это на себя. Наши специалисты всегда пытаются аргументировано сбить цену
                  автомобиля, так как прекрасно ориентируются в цене требуемых вложений и рыночной стоимости
                  рассматриваемого транспортного средства, они постараются найти несколько аргументов, чтобы получить
                  максимально возможную скидку для вас.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="faq__items-right">
          <div class="accordion">
            <div class="accordion__item">
              <div class="accordion__header">Что такое автоподбор?</div>
              <div class="accordion__body">
                <p>Это услуга, цель которой найти и полностью проверить автомобиль по заранее оговоренных с клиентом
                  параметрам. Так же, в рамках автоподбора, мы помогаем нашим клиентам на всех этапах: начиная с
                  консультации, которая бесплатна, заканчивая переофрмлением в ЦОН, оформлением
                  страховки и рекомендациями по дальнейшему обслуживнию.</p>
              </div>
            </div>
            <div class="accordion__item">
              <div class="accordion__header">От чего зависит стоимость услуги при подборе авто под ключ?</div>
              <div class="accordion__body">
                <p>У нас цена фиксирована, в нее входит вся работа по поиску и проверке авто. А именно: предварительный
                  мониторинг объявлений и наших баз на предмет наличия интересуещего клиента варианта и их дальнейший
                  прозвон. Выезды на осмотры автомобилей с полной их проверкой. И даже осмотр перед покупкой на одном из
                  наших СТО рекомендуемого нами варината.</p>
              </div>
            </div>
            <div class="accordion__item">
              <div class="accordion__header">Какие авто мы ищем?</div>
              <div class="accordion__body">
                <p>Это могут быть автомобили с разными типами кузова, с разным объемом и типом движка, любого цвета. Мы
                  найдем любую машину, если она тебе нужна. Профессиональные услуги по подбору авто – это выгодный
                  способ получить искомое транспортное средство без рисков быть обманутым. Наши автоэксперты избавят от
                  волнений, которые всегда присутствуют при покупке авто, уже бывшем в эксплуатации. </p>
              </div>
            </div>
            <div class="accordion__item">
              <div class="accordion__header">Если вы не найдете автомобиль?</div>
              <div class="accordion__body">
                <p>Мы гарантируем найти автомобиль соответствующий параметрам договор в строго оговоренные сроки. Если
                  данное условие будет не выполнено, то вы вправе расторгнуть договор и мы вернем вам предоплату.</p>
              </div>
            </div>
            <div class="accordion__item">
              <div class="accordion__header">Какие проблемы чаще всего встречаються при осмотре авто?</div>
              <div class="accordion__body">
                <p>Как правило это кузов и скрученный пробег. Огромное количество машин с поврежденным кузовом и не
                  качественным ремонтом. После компьютерной диагностики часто выясняется, что показания одометра не
                  соответствует реальному пробегу. Эти две проблемы существенно влияют на стоимость автомобиля и срок
                  его дальнейшей эксплуатации.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
