<header class="header">
  <div class="header__container">
    <div class="header__wrapper">
      <div class="header__top">
        <div class="header__inner">
          <div class="header__logo">
            <img src="./img/logotype.svg"
                 alt="logo">
          </div>
          <div class="burger-menu">
            <div class="mobile-nav-button">
              <div class="mobile-nav-button__line"></div>
              <div class="mobile-nav-button__line"></div>
              <div class="mobile-nav-button__line"></div>
            </div>
            <nav class="mobile-menu">
              <a class="mobile-menu__list-link logo"
                 href="#">
                <img src="./img/logo-menu.svg"
                     alt="logo menu">
              </a>
              <ul class="mobile-menu__items">
                <li>
                  <a class="mobile-menu__list-link"
                     href="#check">Что мы проверяем?</a>
                </li>
                <li>
                  <a class="mobile-menu__list-link"
                     href="#why">Почему мы?</a>
                </li>
                <li>
                  <a class="mobile-menu__list-link"
                     href="#work">Наш подбора</a>
                </li>
                <li>
                  <a class="mobile-menu__list-link"
                     href="#call">Связаться</a>
                </li>
              </ul>
              <a class="mobile-menu__phone"
                 href="tel:+77057108487">+7 705-710-84-87 <span>Рустем</span></a>

            </nav>
          </div>
          <nav class="header__nav">
            <ul class="header__nav-list">
              <li class="header__nav-list-item">
                <a href="#check"
                   class="header__nav-list-item-link">Что мы проверяем?</a>
              </li>
              <li class="header__nav-list-item">
                <a href="#why"
                   class="header__nav-list-item-link">Почему мы?</a>
              </li>
              <li class="header__nav-list-item">
                <a href="#work"
                   class="header__nav-list-item-link">Наш подбор</a>
              </li>
              <li class="header__nav-list-item">
                <a href="#call"
                   class="header__nav-list-item-link">Связаться</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="header__info">
          <p class="header__info-time">Время работы: <span>с 8:00 до 22:00</span></p>
          <a href="tel:+77057108487"
             class="header__info-phone">+7 705-710-84-87 <span>Рустем</span></a>
        </div>
      </div>
      <h1 class="header__title">Мы выберем для вас оптимальное предложение на рынке с гарантией технической и
        юридической чистоты</h1>
      <div class="header__btns">
        <a href="#call"
           class="header__btn btn btn-primary">Оставить заявку</a>
        <a href="#call"
           class="header__btn btn btn-secondary">Консультация</a>
      </div>
    </div>
  </div>
</header>
