<section class="price scroll">
  <div class="price__container">
    <div class="price__wrapper">
      <h2 class="price__title">Наши цены</h2>
      <div class="price__elements">
        <div class="price__item">
          <h3 class="price__item-title">Подбор автомобиля под ключ</h3>
          <div class="price__item-list">
            <div class="price__item-list-element">
              <p>Гарантия выбора наилучшего варианта</p>
            </div>
            <div class="price__item-list-element">
              <p>Минимум затрат вашего времени</p>
            </div>
            <div class="price__item-list-element">
              <p>Полный отчет со всех реестров об авто</p>
            </div>
            <div class="price__item-list-element">
              <p>Детальная фото\видео фиксация осмотра</p>
            </div>
            <div class="price__item-list-element">
              <p>Подбираем авто под ключ без ограничений - пока не найдём нужный вариант.</p>
            </div>
            <div class="price__item-list-element">
              <p>Дальнейшие консультации и помощь в обслуживании авто.</p>
            </div>
            <div class="price__item-list-element">
              <p>Тест-драйв финального варианта</p>
            </div>
            <div class="price__item-list-element">
              <p>Проверка по базам: РК, РФ, США</p>
            </div>
          </div>
          <div class="price__item-button">Цена: <span>от 100 000 тг</span></div>
        </div>
        <div class="price__item">
          <h3 class="price__item-title">Эксперт на день</h3>
          <div class="price__item-list">
            <div class="price__item-list-element">
              <p>Осмотр неограниченного количества автомобилей в течении рабочего дня на машине эксперта</p>
            </div>
            <div class="price__item-list-element">
              <p>Разумный торг с продавцом</p>
            </div>
            <div class="price__item-list-element">
              <p>Проверка на выезде и в автосервисе</p>
            </div>
            <div class="price__item-list-element">
              <p>Юридическая проверка автомобиля</p>
            </div>
            <div class="price__item-list-element">
              <p>Гарантия выбора наилучшего варианта</p>
            </div>
            <div class="price__item-list-element">
              <p>Проверка по базам: РК, РФ, США</p>
            </div>
          </div>
          <div class="price__item-button">Цена: <span>от 50 000 тг</span></div>
        </div>
        <div class="price__item">
          <h3 class="price__item-title">Выездная диагностика</h3>
          <div class="price__item-list">
            <div class="price__item-list-element">
              <p>Проверка кузова,
                лакокрасочного покрытия,
                технического состояния</p>
            </div>
            <div class="price__item-list-element">
              <p>Компьютерная диагностика автомобиля</p>
            </div>
            <div class="price__item-list-element">
              <p>Вердикт специалиста о соответствии состояния автомобиля его стоимость</p>
            </div>
            <div class="price__item-list-element">
              <p>Проверка по базам: РК, РФ, США</p>
            </div>
          </div>
          <div class="price__item-button">Цена: <span>от 7 000 тг</span></div>
        </div>
      </div>
      <img src="./img/car-price.png" alt="Price Car" class="price__wrapper-img">
    </div>
  </div>
</section>
