<section class="process scroll">
  <div class="process__container">
    <h2 class="process__title title">Процесс подбора</h2>
    <div class="process__wrapper">
      <div class="process__item">
        <div class="process__item-wrapper">
          <img src="./img/consult-service.svg"
               alt="Консультация"
               class="process__item-wrapper-img">
        </div>
        <h3 class="process__item-title">Консультация</h3>
        <p class="process__item-descr">Мы начинаем с беседы, чтобы понять ваши потребности и пожелания</p>
      </div>
      <div class="process__item">
        <div class="process__item-wrapper">
          <img src="./img/agreement-service.svg"
               alt="Договор"
               class="process__item-wrapper-img">
        </div>
        <h3 class="process__item-title">Договор</h3>
        <p class="process__item-descr">Наша компания заключаем с вами договор на услугу подбора</p>
      </div>
      <div class="process__item">
        <div class="process__item-wrapper">
          <img src="./img/analitycs-service.svg"
               alt="Анализ рынка"
               class="process__item-wrapper-img">
        </div>
        <h3 class="process__item-title">Анализ рынка</h3>
        <p class="process__item-descr">Наши эксперты исследуют рынок, чтобы найти наилучшие варианты.</p>
      </div>
      <div class="process__item">
        <div class="process__item-wrapper">
          <img src="./img/analitycs-service.svg"
               alt="Анализ рынка"
               class="process__item-wrapper-img">
        </div>
        <h3 class="process__item-title">Оценка</h3>
        <p class="process__item-descr">Мы проводим тщательную проверку состояния и истории каждого автомобиля</p>
      </div>
      <div class="process__item">
        <div class="process__item-wrapper">
          <img src="./img/search-service.svg"
               alt="Анализ рынка"
               class="process__item-wrapper-img">
        </div>
        <h3 class="process__item-title">Подбор</h3>
        <p class="process__item-descr">Находим наилучший автомобиль, соответствующий вашим требованиям.</p>
      </div>
      <div class="process__item">
        <div class="process__item-wrapper">
          <img src="./img/buy-service.svg"
               alt="Анализ рынка"
               class="process__item-wrapper-img">
        </div>
        <h3 class="process__item-title">Покупка</h3>
        <p class="process__item-descr">Мы сопровождаем покупку автомобиля, чтобы вы процесс прошел без проблем</p>
      </div>
    </div>
  </div>
</section>
