<section class="why scroll" id="why">
  <div class="why__container">
    <div class="why__wrapper">
      <div class="why__text">
        <h2 class="why__text-title">Почему мы?</h2>
        <p class="why__text-descr">Потому что мы - команда опытных специалистов, готовых взять на себя
          ответственность за ваш автомобиль, чтобы вы могли с уверенностью покорять дороги</p>
        <div class="why__text-btns">
          <a href="#call"
             class="why__text-btn btn btn-primary">Оставить заявку</a>
          <a href="#call"
             class="why__text-btn btn btn-secondary">Консультация</a>
        </div>
      </div>
      <div class="why__info">
        <div class="why__info-item">
          <img src="./img/experience.svg"
               alt="Опыт">
          <h3 class="why__info-title">Опыт</h3>
          <p class="why__info-descr">Мы имеем обширный опыт в проверке различных автомобилей</p>
        </div>
        <div class="why__info-item">
          <img src="./img/ojbective.svg"
               alt="Опыт">
          <h3 class="why__info-title">Объективность</h3>
          <p class="why__info-descr">Мы независимы, а значит предоставим полную картину об авто</p>
        </div>
        <div class="why__info-item">
          <img src="./img/standarts.svg"
               alt="Опыт">
          <h3 class="why__info-title">Стандарты</h3>
          <p class="why__info-descr">Мы имеем четкие стандарты и унифицированность при подборе</p>
        </div>
        <div class="why__info-item">
          <img src="./img/price.svg"
               alt="Опыт">
          <h3 class="why__info-title">Цены</h3>
          <p class="why__info-descr">Мы предлагаем рыночные и объективные цены за подбор.</p>
        </div>
      </div>
    </div>
  </div>
</section>
