<section class="work scroll" id="work">
  <div class="work__container">
    <div class="work__wrapper">
      <div class="work__top">
        <h2 class="work__top-title">Наш подбор</h2>
        <div class="work__top-btns">
          <div class="work__top-btns-prev"></div>
          <div class="work__top-btns-next"></div>
        </div>
      </div>
      <div class="work__content owl-carousel">
        @@include('./parts/work-camry-40.html')
        @@include('./parts/work-carolla.html')
        @@include('./parts/work-b7.html')
        @@include('./parts/work-lexus.html')
        @@include('./parts/work-honda.html')
        @@include('./parts/work-camry.html')
        @@include('./parts/work-porsche.html')
        @@include('./parts/work-xtrail.html')
        @@include('./parts/work-range.html')
        @@include('./parts/work-sportage.html')
        @@include('./parts/work-infinity.html')
        @@include('./parts/work-bmw-5.html')

      </div>
      <div class="work__social">
        <h3 class="work__social-text">Присоединяйтесь к нам в социальных сетях:</h3>
        <div class="work__social-btns">
          <a href="#" class="work__social-btn whatsapp">WhatsApp</a>
          <a href="#" class="work__social-btn inst">Instagram</a>
          <a href="#" class="work__social-btn tiktok">TikTok</a>
        </div>
      </div>
    </div>
  </div>
</section>
