$mainBlue: #0077ff;
$mainBlueHover: #0057FF;
$white: #ffffff;
$whiteDark: #fbfbfb;
$black: #000000;
$gray: #484848;
$backgroundBlack: #141414;
$lightWhite: #efefef;
$defaultShadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$borderTop: #2f2f2f;
$lightGray: #989898;

$fontWeightBold: 700;
